.blog {
    box-sizing: border-box;
    line-height: 1.42;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    position: relative;
    border: 1px solid #ccc;
    width: 65%;
    margin: auto;
    min-height: 100%;
}

.blog > * {
    cursor: text;
}
.blog p,
.blog ol,
.blog ul,
.blog pre,
.blog blockquote,
.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.blog ol,
.blog ul {
    padding-left: 1.5em;
}
.blog ol > li,
.blog ul > li {
    list-style-type: none;
}
.blog ul > li::before {
    content: '\2022';
}
.blog ul[data-checked=true],
.blog ul[data-checked=false] {
    pointer-events: none;
}
.blog ul[data-checked=true] > li *,
.blog ul[data-checked=false] > li * {
    pointer-events: all;
}
.blog ul[data-checked=true] > li::before,
.blog ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
}
.blog ul[data-checked=true] > li::before {
    content: '\2611';
}
.blog ul[data-checked=false] > li::before {
    content: '\2610';
}
.blog li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
}
.blog li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
}
.blog li.ql-direction-rtl::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
}
.blog ol li:not(.ql-direction-rtl),
.blog ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
}
.blog ol li.ql-direction-rtl,
.blog ul li.ql-direction-rtl {
    padding-right: 1.5em;
}
.blog ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
}
.blog ol li:before {
    content: counter(list-0, decimal) '. ';
}
.blog ol li.ql-indent-1 {
    counter-increment: list-1;
}
.blog ol li.ql-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
}
.blog ol li.ql-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.blog ol li.ql-indent-2 {
    counter-increment: list-2;
}
.blog ol li.ql-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
}
.blog ol li.ql-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.blog ol li.ql-indent-3 {
    counter-increment: list-3;
}
.blog ol li.ql-indent-3:before {
    content: counter(list-3, decimal) '. ';
}
.blog ol li.ql-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.blog ol li.ql-indent-4 {
    counter-increment: list-4;
}
.blog ol li.ql-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
}
.blog ol li.ql-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.blog ol li.ql-indent-5 {
    counter-increment: list-5;
}
.blog ol li.ql-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
}
.blog ol li.ql-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
}
.blog ol li.ql-indent-6 {
    counter-increment: list-6;
}
.blog ol li.ql-indent-6:before {
    content: counter(list-6, decimal) '. ';
}
.blog ol li.ql-indent-6 {
    counter-reset: list-7 list-8 list-9;
}
.blog ol li.ql-indent-7 {
    counter-increment: list-7;
}
.blog ol li.ql-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
}
.blog ol li.ql-indent-7 {
    counter-reset: list-8 list-9;
}
.blog ol li.ql-indent-8 {
    counter-increment: list-8;
}
.blog ol li.ql-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
}
.blog ol li.ql-indent-8 {
    counter-reset: list-9;
}
.blog ol li.ql-indent-9 {
    counter-increment: list-9;
}
.blog ol li.ql-indent-9:before {
    content: counter(list-9, decimal) '. ';
}
.blog .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
}
.blog li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
}
.blog .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
}
.blog li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
}
.blog .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
}
.blog li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
}
.blog .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
}
.blog li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
}
.blog .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
}
.blog li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
}
.blog .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
}
.blog li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
}
.blog .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
}
.blog li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
}
.blog .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
}
.blog li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
}
.blog .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
}
.blog li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
}
.blog .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
}
.blog li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
}
.blog .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
}
.blog li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
}
.blog .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
}
.blog li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
}
.blog .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
}
.blog li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
}
.blog .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
}
.blog li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
}
.blog .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
}
.blog li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
}
.blog .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
}
.blog li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
}
.blog .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
}
.blog li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
}
.blog .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
}
.blog li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
}
.blog .ql-video {
    display: block;
    max-width: 100%;
}
.blog .ql-video.ql-align-center {
    margin: 0 auto;
}
.blog .ql-video.ql-align-right {
    margin: 0 0 0 auto;
}
.blog .ql-bg-black {
    background-color: #000;
}
.blog .ql-bg-red {
    background-color: #e60000;
}
.blog .ql-bg-orange {
    background-color: #f90;
}
.blog .ql-bg-yellow {
    background-color: #ff0;
}
.blog .ql-bg-green {
    background-color: #008a00;
}
.blog .ql-bg-blue {
    background-color: #06c;
}
.blog .ql-bg-purple {
    background-color: #93f;
}
.blog .ql-color-white {
    color: #fff;
}
.blog .ql-color-red {
    color: #e60000;
}
.blog .ql-color-orange {
    color: #f90;
}
.blog .ql-color-yellow {
    color: #ff0;
}
.blog .ql-color-green {
    color: #008a00;
}
.blog .ql-color-blue {
    color: #06c;
}
.blog .ql-color-purple {
    color: #93f;
}
.blog .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
}
.blog .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}
.blog .ql-size-small {
    font-size: 0.75em;
}
.blog .ql-size-large {
    font-size: 1.5em;
}
.blog .ql-size-huge {
    font-size: 2.5em;
}
.blog .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
}
.blog .ql-align-center {
    text-align: center;
}
.blog .ql-align-justify {
    text-align: justify;
}

.blog h1 {
    font-size: 2em;
}
.blog h2 {
    font-size: 1.5em;
}
.blog h3 {
    font-size: 1.17em;
}
.blog h4 {
    font-size: 1em;
}
.blog h5 {
    font-size: 0.83em;
}
.blog h6 {
    font-size: 0.67em;
}
.blog a {
    text-decoration: underline;
}
.blog blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}
.blog code,
.blog pre {
    background-color: #f0f0f0;
    border-radius: 3px;
}
.blog pre {
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}
.blog code {
    font-size: 85%;
    padding: 2px 4px;
}
.blog pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
.blog img {
    max-width: 100%;
}
.ql-container.ql-snow {
    border: none
}
.blog .ql-align-right {
    text-align: right;
}
